<% transaction ||= Samurai::Transaction.new %>
<% payment_method ||= Samurai::PaymentMethod.new %>
<% if transaction.errors.any? || payment_method.errors.any? %>
  <div id="error_explanation">
    <h4>This transaction could not be processed:</h4>
    <ul>
    <% transaction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <% payment_method.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
