<form action="<%= Samurai.site %>/payment_methods" method="POST">
  <fieldset>
    <input name="redirect_url" type="hidden" value="<%= redirect_url %>" />
    <input name="merchant_key" type="hidden" value="<%= Samurai.options[:merchant_key] %>" />

    <label for="credit_card_first_name">First name</label>
    <input id="credit_card_first_name" name="credit_card[first_name]" type="text" />

    <label for="credit_card_last_name">Last name</label>
    <input id="credit_card_last_name" name="credit_card[last_name]" type="text" />

    <label for="credit_card_card_type">Card Type</label>
    <select id="credit_card_card_type" name="credit_card[card_type]">
      <option value="visa">Visa</option>
      <option value="master">MasterCard</option>
    </select>

    <label for="credit_card_number">Card Number</label>
    <input id="credit_card_number" name="credit_card[card_number]" type="text" />

    <label for="credit_card_cvv">Security Code</label>
    <input id="credit_card_cvv" name="credit_card[cvv]" type="text" />

    <label for="credit_card_month">Expires on</label>
    <input id="credit_card_month" name="credit_card[expiry_month]" type="text" />
    <input id="credit_card_year" name="credit_card[expiry_year]" type="text" />

    <button type='submit'>Submit Payment</button>
  </fieldset>
</form>